<!DOCTYPE html>
<html>
    <head>
        <title>Barber Web Interface</title>
        <script src="/static/p5.min.js"></script>
        <script src="/static/animation.js"></script>
        <script src="/static/load.js"></script>
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div id="animation"></div>
        <h1 id="header">Barber: A Ravencoin Tradebot by <a href="https://ravenapps.xyz">RavenApps</a></h1>
        <div id="content">
            <span id="loading1">Loading...</span>
            <span id="opentrades"></span>
        </div>
        <div id="pricesnbals">
            <span id="loading2">Loading...</span>
            <span id="btc"></span>
            <span id="rvn"></span>
            <span id="rvn-price"></span>
            <span id="btc-price"></span>
        </div>
    </body>
</html>